.drag-reorder__alignment-guide {
  position: absolute;
  left: 50%;
  width: 100%;
  height: var(--focus-width);
  border-radius: var(--radius-round);
  background: var(--focus-color);
  opacity: var(--drag-guide-opacity);
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: var(--z-popover);
}
